.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
  height: 100vh;
}

.btn {
  margin-left: 10px;
  padding: 8px 16px;
}

.rock-btn {
  background-color: blue;
  color: aliceblue;
}

.paper-btn {
  background-color: green;
  color: aliceblue;
}

.scissors-btn {
  background-color: red;
  color: aliceblue;
}

.scores {
  /* text-align: center; */
  width: 35%;
}
